---
layout: default
title: Sean Kelley's Blog
---
<div class="container">
	<div class="row">
		<div class="col-sm-8">
			{% for post in site.posts %}
				<article class="single-blog">
					<div class="post-thumb">
						<a href="{{ post.url }}"><img src="{{ post.thumb }}" alt=""></a>
					</div>
					<div class="post-content">
						<div class="entry-header text-left text-uppercase">
							<a href="" class="post-cat">{{ post.tag }}</a>
							<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
						</div>
						<div class="entry-content">
							<p>{{ post.desc }}</p>
						</div>
						<div class="continue-reading text-left text-uppercase">
							<a href="{{ post.url }}">Continue Reading</a>
						</div>
						<div class="post-meta">
							<ul class="pull-left list-inline author-meta">
								<li class="author">By <a href="#">{{ post.author }} </a></li>
								<li class="date"> On {{ post.date | date: '%B %d, %Y' }} </li>
							</ul>
							<ul class="pull-right list-inline social-share">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</article>
			{% endfor %}
			<div class="post-pagination clearfix">
				<ul class="pagination text-left">
					<li class="active"><a href="#">1</a></li>
					<li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="kotha-sidebar material-sidebar">
				<aside class="widget about-me-widget  text-center">
					<div class="about-me-content">
						<div class="about-me-img">
							<img src="/img/blog/headshot.jpg" alt="" class="img-me img-circle">
							<h2 class="text-uppercase">Sean Kelley</h2>
							<p>CS+Math Undergrad at UMass Amherst '20 | Incoming Intern at Microsoft ('18) | Excited about Data Science, ML, traveling and language.</p>
						</div>
					</div>
					<div class="social-share">
						<ul class="list-inline">
							<li><a class="s-linkedin" href="https://linkedin.com/in/seangtkelley"><i class="fa fa-linkedin"></i></a></li>
							<li><a class="s-github" href="https://github.com/seangtkelley"><i class="fa fa-github"></i></a></li>
						</ul>
					</div>
				</aside>
				<aside class="widget dev-widget">
					<h2 class="widget-title text-uppercase text-center">Current Dev Env</h2>
					<a href="https://getfedora.org/workstation"><img style="width: 140px" src="https://getfedora.org/static/images/fedora_infinity_140x140.png" width="140" height="140" alt="Fedora Logo"></a>
				</aside>
				<aside class="widget add-widget">
					<h2 class="widget-title text-uppercase text-center">Listen with me</h2>
					<!--<iframe src="https://open.spotify.com/embed/track/5UJshy5HDHdNEVqlJwzsQB" width="100%" height="300" frameborder="0" allowtransparency="true"></iframe>-->
					<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/326737288&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
				</aside>
				<!--<aside class="widget widget-popular-post">
					<h3 class="widget-title text-uppercase text-center">Popular Posts</h3>
					<ul>
						{% for post in site.posts %}
							<li>
								<a href="{{ post.url }}" class="popular-img"><img src="{{ post.thumb }}" alt=""></a>
								<div class="p-content">
									<h4><a href="{{ post.url }}" class="text-uppercase">{{ post.title }}</a></h4>
									<span class="p-date">{{ post.date | date: '%B %d, %Y' }}</span>
								</div>
							</li>
						{% endfor %}
					</ul>
				</aside>-->
				<!--<aside class="widget add-widget">
					<h2 class="widget-title text-uppercase text-center">Carbon</h2>
					<div class="add-image">
						<a href=""><img src="assets/images/add-image.jpg" alt=""></a>
					</div>
				</aside>-->
			</div>
		</div>
	</div>
</div>
