<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <!-- CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
    <link href="assets/vendor/fontawesome/css/font-awesome.min.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
    <link href="assets/vendor/flaticon/flaticon.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>

    <!-- Custom CSS -->
    <link href="assets/custom/css/style.css" property='stylesheet' rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <nav>
      <ul>
      <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div><!-- /.container -->
    <footer>
      <ul>

      </ul>
    </footer>

    <!-- JS -->
    <script type="text/javascript" src="assets/vendor/jquery/js/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
