---
layout: default
comments: true
---
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <article class="single-blog">
				<div class="post-thumb">
					<img src="{{ page.thumb }}" alt="">
				</div>
				<div class="post-content">
					<div class="entry-header text-center text-uppercase">
						<a href="" class="post-cat">{{ page.tag }}</a>
						<h2>{{ page.title }}</h2>
					</div>
					<div class="entry-content">
						{{ content }}
					</div>

					<div class="post-meta">
						<ul class="pull-left list-inline author-meta">
							<li class="author">By <a href="#">{{ page.author }} </a></li>
							<li class="date"> On {{ page.date | date: '%B %d, %Y' }}</li>
						</ul>
						<ul class="pull-right list-inline social-share">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
				</div>
			</article>
			<!--<div class="row">
				<div class="col-md-6">
					<div class="single-blog-box">
						<a href="#">
							<img src="assets/images/blog-next-1.jpg" alt="">
							<div class="overlay">
								<div class="promo-text">
									<p><i class=" pull-left fa fa-angle-left"></i></p>
									<h5>A Good Thought Never be false</h5>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-blog-box">
						<a href="#">
							<img src="assets/images/blog-next-2.jpg" alt="">
							<div class="overlay">
								<div class="promo-text">
									<p><i class="pull-right fa fa-angle-right"></i></p>
									<h5>The Reason Why Everyone Love Hill</h5>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>-->
			<!--<div class="related-post-carousel">
				<div class="related-heading">
					<h4>You might also like</h4>
				</div>
				<div class="related-post-carousel-items">
					<div class="single-item">
						<a href="#">
							<img src="assets/images/p-1.jpg" alt="">
							<h4>Lorem ipsum dolor sit amet,</h4>
						</a>
					</div>
					<div class="single-item">
						<a href="#">
							<img src="assets/images/p-2.jpg" alt="">
							<h4>Just Wondering at Beach</h4>
						</a>
					</div>
					<div class="single-item">
						<a href="#">
							<img src="assets/images/p-3.jpg" alt="">
							<h4>Nonumy eirmod tempor invidunt</h4>
						</a>
					</div>
					<div class="single-item">
						<a href="#">
							<img src="assets/images/p-1.jpg" alt="">
							<h4>Justo duo dolores et ea rebum</h4>
						</a>
					</div>
					<div class="single-item">
						<a href="#">
							<img src="assets/images/p-2.jpg" alt="">
							<h4>Duo dolores justo t ea rebum</h4>
						</a>
					</div>
					<div class="single-item">
						<a href="#">
							<img src="assets/images/p-3.jpg" alt="">
							<h4>Duo dolores justo t ea rebum</h4>
						</a>
					</div>
				</div>
			</div>-->
			<div class="comment-area">
				{% if page.comments %}
          <div id="disqus_thread"></div>
          <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          */
          var disqus_config = function () {
          this.page.url = {{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
          //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://seangtkelley-blog.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
			</div>
    </div>
  </div>
</div>
